<div fxLayout="column" fxLayoutAlign="start stretch">

  <div fxLayout="row" fxLayoutAlign="space-around center">

    <app-metric fxFlex="30" title="CPU" description="utilization of cpu cores" [used]="cpu.used" [available]="cpu.available">
    </app-metric>

    <app-metric fxFlex="30" title="Memory" description="utilization of memory in GB" [used]="mem.used" [available]="mem.available">
    </app-metric>

  </div>

  <hr />

  <br /><br /><br />

  <fieldset>
    <legend>Cluster 1</legend>
    <table app-nodes>
      <tr app-nodes-row [node]="n" *ngFor="let n of cluster1">
      </tr>
    </table>

  </fieldset>
  <hr />

  <fieldset>
    <legend>Cluster 2</legend>
    <table app-nodes>
      <tr app-nodes-row [node]="n" *ngFor="let n of cluster2">
      </tr>
    </table>
  </fieldset>

</div>
